* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #fa9907, #49738b);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    color: white;
    overflow-x: hidden;
}

header 
{
    width: 100%;
    background-color: #363535;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-container 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-icon 
{
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border-radius: 50%;
}

h1 
{
    font-size: 28px;
    font-weight: bold;
}

.converter-container 
{
    width: 90%;
    max-width: 1000px;
    margin-top: 50px;
}

.converter-box 
{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

h2 
{
    margin-bottom: 15px;
    font-size: 24px;
}

input[type="text"], button 
{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

button 
{
    cursor: pointer;
    background-color: #fa9907;
    border: none;
    color: white;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover 
{
    background-color: #49738b;
}

.color-output 
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
}

.code-box 
{
    width: 48%;
}

.code-box label 
{
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

.code-box input 
{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.color-pallets 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    max-width: 600px;
    min-width: 200px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px 0;
    overflow-x: scroll;
    scroll-behavior: smooth;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.color-palette 
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 50%;
}


.color-swatch 
{
    width: 50px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s ease;
}

.color-swatch:hover 
{
    transform: scale(1.2);
    opacity: 0.8;
}

@media screen and (max-width: 768px) 
{
    .color-output 
    {
        flex-direction: column;
        align-items: center;
    }

    .code-box 
    {
        width: 100%;
        margin-bottom: 10px;
    }

    .color-pallets 
    {
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .color-swatch 
    {
        width: 40px;
        height: 40px;
    }

    h1 
    {
        font-size: 24px;
    }

    .converter-container 
    {
        width: 100%;
        padding: 0 10px;
    }
}

.website-link-container 
{
    margin-top: 20px;
}

.website-link 
{
    display: inline-block;
    padding: 12px 30px;
    background-color: #fa9907;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.website-link:hover 
{
    background-color: #49738b; /* Blue background */
    transform: scale(1.1); /* Slightly grow the button */
}
